<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Lib"/>
			
			<dependentAssembly>
				<assemblyIdentity name="Lib" publicKeyToken="f95784920ad4f482"/> 				 
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>