<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Libraries"/>
			
			<dependentAssembly>
				<assemblyIdentity name="Lib" publicKeyToken="f95784920ad4f482" culture="en-US" /> 				 
				
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
				
				<codeBase version="1.0.0.0" href="Lib/Lib.dll" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>